*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    font-style: italic;
    font-weight: 100;
    color: black (158, 36, 44);
    text-align: center;
}
